<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
    <section class="container">
        <header class="header clearfix">
            <p class="logo">2048</p>
            <div id="highestScore"></div>
            <div id="score"></div>
        </header>
        <div class="operation clearfix">
            <p class="description">Merge it to get 2048!</p>
            <a id="rank">Ranking</a>
            <a id="restart">Restart</a>
        </div>
        <div id="root"></div>
        <div class="tips">
            <p class="tips-pc"><strong>HOW TO PLAY</strong>: Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one</strong>!</p>
            <p class="tips-mobile"><strong>HOW TO PLAY</strong>: Use your <strong>finger</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one</strong>!</p>
        </div>
    </section>
</body>
</html>