<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
    <section class="container">
        <header>
            <p class="logo">2048</p>
            <div class="score">score: <span id="score"></span></div>
            <div class="highestScore"><span id="highestScore"></span></div>
            <button id="restart">restart</button>
        </header>
        <div id="root"></div>
    </section>
</body>
</html>